In [1]:
import requests
import pandas as pd

base_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca"

dataset_id = "police-annual-statistical-report-traffic-collisions"

package_url = f"{base_url}/api/3/action/package_show"
params = {"id": dataset_id}
response = requests.get(package_url, params=params)
package = response.json()

resource = next((r for r in package['result']['resources'] if r['datastore_active']), None)

if resource:
    resource_id = resource["id"]
    all_records = []
    limit = 10000
    offset = 0

    while True:
        data_url = f"{base_url}/api/3/action/datastore_search"
        query = {
            "id": resource_id,
            "limit": limit,
            "offset": offset
        }
        res = requests.get(data_url, params=query).json()
        batch = res["result"]["records"]
        all_records.extend(batch)
        print(f"Fetched {len(batch)} records (Total so far: {len(all_records)})")

        if len(batch) < limit:
            break

        offset += limit

    df = pd.DataFrame(all_records)
    print(f"\n Total records fetched: {len(df)}")

Fetched 10000 records (Total so far: 10000)
Fetched 10000 records (Total so far: 20000)
Fetched 10000 records (Total so far: 30000)
Fetched 10000 records (Total so far: 40000)
Fetched 10000 records (Total so far: 50000)
Fetched 10000 records (Total so far: 60000)
Fetched 10000 records (Total so far: 70000)
Fetched 10000 records (Total so far: 80000)
Fetched 10000 records (Total so far: 90000)
Fetched 10000 records (Total so far: 100000)
Fetched 10000 records (Total so far: 110000)
Fetched 10000 records (Total so far: 120000)
Fetched 10000 records (Total so far: 130000)
Fetched 10000 records (Total so far: 140000)
Fetched 10000 records (Total so far: 150000)
Fetched 10000 records (Total so far: 160000)
Fetched 10000 records (Total so far: 170000)
Fetched 10000 records (Total so far: 180000)
Fetched 10000 records (Total so far: 190000)
Fetched 10000 records (Total so far: 200000)
Fetched 10000 records (Total so far: 210000)
Fetched 10000 records (Total so far: 220000)
Fetched 10000 records (Total so far: 230000)
Fetched 10000 records (Total so far: 240000)
Fetched 10000 records (Total so far: 250000)
Fetched 10000 records (Total so far: 260000)
Fetched 10000 records (Total so far: 270000)
Fetched 10000 records (Total so far: 280000)
Fetched 10000 records (Total so far: 290000)
Fetched 10000 records (Total so far: 300000)
Fetched 10000 records (Total so far: 310000)
Fetched 10000 records (Total so far: 320000)
Fetched 10000 records (Total so far: 330000)
Fetched 10000 records (Total so far: 340000)
Fetched 10000 records (Total so far: 350000)
Fetched 10000 records (Total so far: 360000)
Fetched 10000 records (Total so far: 370000)
Fetched 10000 records (Total so far: 380000)
Fetched 10000 records (Total so far: 390000)
Fetched 10000 records (Total so far: 400000)
Fetched 10000 records (Total so far: 410000)
Fetched 10000 records (Total so far: 420000)
Fetched 10000 records (Total so far: 430000)
Fetched 10000 records (Total so far: 440000)
Fetched 10000 records (Total so far: 450000)
Fetched 10000 records (Total so far: 460000)
Fetched 10000 records (Total so far: 470000)
Fetched 10000 records (Total so far: 480000)
Fetched 10000 records (Total so far: 490000)
Fetched 10000 records (Total so far: 500000)
Fetched 10000 records (Total so far: 510000)
Fetched 10000 records (Total so far: 520000)
Fetched 10000 records (Total so far: 530000)
Fetched 10000 records (Total so far: 540000)
Fetched 10000 records (Total so far: 550000)
Fetched 10000 records (Total so far: 560000)
Fetched 10000 records (Total so far: 570000)
Fetched 10000 records (Total so far: 580000)
Fetched 10000 records (Total so far: 590000)
Fetched 10000 records (Total so far: 600000)
Fetched 10000 records (Total so far: 610000)
Fetched 10000 records (Total so far: 620000)
Fetched 10000 records (Total so far: 630000)
Fetched 10000 records (Total so far: 640000)
Fetched 10000 records (Total so far: 650000)
Fetched 10000 records (Total so far: 660000)
Fetched 10000 records (Total so far: 670000)
Fetched 10000 records (Total so far: 680000)
Fetched 10000 records (Total so far: 690000)
Fetched 10000 records (Total so far: 700000)
Fetched 10000 records (Total so far: 710000)
Fetched 10000 records (Total so far: 720000)
Fetched 10000 records (Total so far: 730000)
Fetched 10000 records (Total so far: 740000)
Fetched 10000 records (Total so far: 750000)
Fetched 10000 records (Total so far: 760000)
Fetched 10000 records (Total so far: 770000)
Fetched 2516 records (Total so far: 772516)

 Total records fetched: 772516

In [2]:
df.head()

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
0,1,1388552400000,January,Wednesday,2014,17,D53,NaN,NO,YES,...,099,Mount Pleasant East (99),-79.37761558471277,43.70122465717385,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [-79.37761558..."
1,2,1388552400000,January,Wednesday,2014,14,D32,NaN,NO,NO,...,105,Lawrence Park North (105),-79.39758914167055,43.72609117778053,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [-79.39758914..."
2,3,1388552400000,January,Wednesday,2014,2,NSA,NaN,YES,NO,...,NSA,NSA,0,0,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."
3,4,1388552400000,January,Wednesday,2014,3,NSA,NaN,NO,NO,...,NSA,NSA,0,0,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."
4,5,1388552400000,January,Wednesday,2014,5,NSA,NaN,YES,NO,...,NSA,NSA,0,0,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."

In [3]:
df

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
0,1,1388552400000,January,Wednesday,2014,17,D53,NaN,NO,YES,...,099,Mount Pleasant East (99),-79.37761558471277,43.70122465717385,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [-79.37761558..."
1,2,1388552400000,January,Wednesday,2014,14,D32,NaN,NO,NO,...,105,Lawrence Park North (105),-79.39758914167055,43.72609117778053,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [-79.39758914..."
2,3,1388552400000,January,Wednesday,2014,2,NSA,NaN,YES,NO,...,NSA,NSA,0,0,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."
3,4,1388552400000,January,Wednesday,2014,3,NSA,NaN,NO,NO,...,NSA,NSA,0,0,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."
4,5,1388552400000,January,Wednesday,2014,5,NSA,NaN,YES,NO,...,NSA,NSA,0,0,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772511,772512,1759204800000,September,Tuesday,2025,12,D55,NaN,YES,NO,...,070,South Riverdale (70),-79.34742767384719,43.65941730261956,YES,NO,NO,YES,NO,"{""type"": ""Point"", ""coordinates"": [-79.34742767..."
772512,772513,1759204800000,September,Tuesday,2025,11,D51,NaN,YES,NO,...,168,Downtown Yonge East (168),-79.3764472488647,43.654829193932876,YES,NO,NO,YES,NO,"{""type"": ""Point"", ""coordinates"": [-79.37644724..."
772513,772514,1759204800000,September,Tuesday,2025,11,D55,NaN,YES,NO,...,070,South Riverdale (70),-79.32828769747441,43.65898084157216,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [-79.32828769..."
772514,772515,1759204800000,September,Tuesday,2025,19,D22,NaN,NO,NO,...,159,Etobicoke City Centre (159),-79.53283279471768,43.6431530585789,YES,NO,NO,NO,NO,"{""type"": ""Point"", ""coordinates"": [-79.53283279..."
772515,772516,1759204800000,September,Tuesday,2025,11,D42,NaN,NO,NO,...,NSA,NSA,0,0,YES,NO,YES,NO,NO,"{""type"": ""Point"", ""coordinates"": [5.6843418860..."

In [5]:
import pandas as pd
import numpy as np

df_clean = df.copy()

columns_to_drop = [
    '_id', 'OCC_MONTH', 'OCC_DOW', 'DIVISION',
    'FTR_COLLISIONS', 'HOOD_158', 'NEIGHBOURHOOD_158', 'geometry'
]
df_clean.drop(columns=columns_to_drop, inplace=True, errors='ignore')

df_clean['OCC_DATE'] = pd.to_datetime(df_clean['OCC_DATE'], unit='ms', errors='coerce')  # Convert from UNIX time
df_clean['YEAR'] = df_clean['OCC_DATE'].dt.year
df_clean['MONTH'] = df_clean['OCC_DATE'].dt.month
df_clean['DAY'] = df_clean['OCC_DATE'].dt.day
df_clean['WEEKDAY'] = df_clean['OCC_DATE'].dt.day_name()

df_clean['FATALITIES'] = pd.to_numeric(df_clean['FATALITIES'], errors='coerce').fillna(0).astype(int)

def yes_no_to_bool(val):
    return 1 if str(val).strip().upper() == 'YES' else 0

for col in ['INJURY_COLLISIONS', 'FTR_COLLISIONS', 'AUTOMOBILE', 'MOTORCYCLE', 'PASSENGER', 'BICYCLE', 'PEDESTRIAN']:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].apply(yes_no_to_bool)

df_clean = df_clean[(df_clean['LAT_WGS84'] != 0) & (df_clean['LONG_WGS84'] != 0)]
print(df_clean.info())
df_clean.head()

/tmp/ipython-input-3948862713.py:12: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df_clean['OCC_DATE'] = pd.to_datetime(df_clean['OCC_DATE'], unit='ms', errors='coerce')  # Convert from UNIX time

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772516 entries, 0 to 772515
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OCC_DATE           772516 non-null  datetime64[ns]
 1   OCC_YEAR           772516 non-null  object
 2   OCC_HOUR           772516 non-null  object
 3   FATALITIES         772516 non-null  int64
 4   INJURY_COLLISIONS  772516 non-null  int64
 5   PD_COLLISIONS      772516 non-null  object
 6   LONG_WGS84         772516 non-null  object
 7   LAT_WGS84          772516 non-null  object
 8   AUTOMOBILE         772516 non-null  int64
 9   MOTORCYCLE         772516 non-null  int64
 10  PASSENGER          772516 non-null  int64
 11  BICYCLE            772516 non-null  int64
 12  PEDESTRIAN         772516 non-null  int64
 13  YEAR               772516 non-null  int32
 14  MONTH              772516 non-null  int32
 15  DAY                772516 non-null  int32
 16  WEEKDAY            772516 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(7), object(6)
memory usage: 91.4+ MB
None

,OCC_DATE,OCC_YEAR,OCC_HOUR,FATALITIES,INJURY_COLLISIONS,PD_COLLISIONS,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,YEAR,MONTH,DAY,WEEKDAY
0,2014-01-01 05:00:00,2014,17,0,0,NO,-79.37761558471277,43.70122465717385,1,0,0,0,0,2014,1,1,Wednesday
1,2014-01-01 05:00:00,2014,14,0,0,YES,-79.39758914167055,43.72609117778053,1,0,0,0,0,2014,1,1,Wednesday
2,2014-01-01 05:00:00,2014,2,0,1,NO,0,0,1,0,0,0,0,2014,1,1,Wednesday
3,2014-01-01 05:00:00,2014,3,0,0,YES,0,0,1,0,0,0,0,2014,1,1,Wednesday
4,2014-01-01 05:00:00,2014,5,0,1,NO,0,0,1,0,0,0,0,2014,1,1,Wednesday

In [6]:
df_clean['LAT'] = df_clean['LAT_WGS84'].round(5)
df_clean['LON'] = df_clean['LONG_WGS84'].round(5)

grouped = df_clean.groupby(['LAT', 'LON']).agg({
    'FATALITIES': 'sum',
    'INJURY_COLLISIONS': 'sum',
    'OCC_DATE': 'count',
    'AUTOMOBILE': 'sum',
    'MOTORCYCLE': 'sum',
    'PASSENGER': 'sum',
    'BICYCLE': 'sum',
    'PEDESTRIAN': 'sum'
}).reset_index()

grouped.rename(columns={'OCC_DATE': 'TOTAL_COLLISIONS'}, inplace=True)

grouped['DANGER_SCORE'] = (
    grouped['TOTAL_COLLISIONS'] * 1 +
    grouped['INJURY_COLLISIONS'] * 5 +
    grouped['FATALITIES'] * 20
)

grouped['LAT'] = pd.to_numeric(grouped['LAT'], errors='coerce')
grouped['LON'] = pd.to_numeric(grouped['LON'], errors='coerce')

grouped = grouped[
    (grouped['LAT'].abs() > 0.1) &
    (grouped['LON'].abs() > 0.1)
]

top30 = grouped.sort_values(
    by='DANGER_SCORE',
    ascending=False
).head(30).reset_index(drop=True)

print(top30)

          LAT        LON  FATALITIES  INJURY_COLLISIONS  TOTAL_COLLISIONS  \
0   43.739961 -79.329640           1                449              2730
1   43.697606 -79.336364           2                287              1950
2   43.757767 -79.337953           0                308              1657
3   43.765821 -79.281097           1                265              1674
4   43.768847 -79.466916           0                247              1604
5   43.776431 -79.231745           0                240              1484
6   43.632513 -79.434300           1                202              1579
7   43.723657 -79.451306           0                 60              2278
8   43.633383 -79.434565           3                196              1512
9   43.783289 -79.288264           2                214              1340
10  43.720781 -79.332582           0                187              1395
11  43.776636 -79.254241           0                 73              1951
12  43.638544 -79.392133           0                175              1418
13  43.757230 -79.517721           0                175              1403
14  43.615905 -79.524674           0                215              1164
15  43.749453 -79.274947           2                211              1140
16  43.711715 -79.566673           0                194              1216
17  43.781782 -79.233852           2                197              1159
18  43.775882 -79.343746           0                 89              1653
19  43.766584 -79.388045           0                152              1291
20  43.761151 -79.300652           0                175              1160
21  43.789644 -79.258814           0                178              1122
22  43.726666 -79.482055           0                148              1124
23  43.793864 -79.238741           2                159              1015
24  43.779764 -79.415566           1                128              1182
25  43.732169 -79.267962           1                155              1040
26  43.751480 -79.265048           0                170               947
27  43.752072 -79.542365           1                130              1111
28  43.742140 -79.309781           0                145              1023
29  43.778734 -79.307906           0                140              1021

    AUTOMOBILE  MOTORCYCLE  PASSENGER  BICYCLE  PEDESTRIAN  DANGER_SCORE
0         2718          17        278        1           2          4995
1         1937          11        176        0           0          3425
2         1649           8        194        0           0          3197
3         1668           5        197        7          24          3019
4         1586           8        157        5          14          2839
5         1475           4        150        9          26          2684
6         1565           8        172        1           2          2609
7         2247           5         62        1          34          2578
8         1491          15        181        1           6          2552
9         1333           7        141       11          37          2450
10        1389           8        116        2           1          2330
11        1926           1         77        1          26          2316
12        1408           7        151        1           1          2293
13        1385           3        108       10          40          2278
14        1158           3        118        5          10          2239
15        1129           1        138        3          21          2235
16        1206           4        120        6          25          2186
17        1150           5        127        6          17          2184
18        1625           5         72        3          29          2098
19        1286           8         95        3          14          2051
20        1154           5        116        1           9          2035
21        1113           3        120        3          16          2012
22        1112           3         98       11          24          1864
23        1010           5        100        1          15          1850
24        1165           7         88        1          30          1842
25        1029           3        107        6          21          1835
26         937           2        115       10          21          1797
27        1102           3         88        3          19          1781
28        1014           4         87        6          18          1748
29        1011           4         78       16          23          1721

In [7]:
!pip install geopandas shapely pyogrio

Requirement already satisfied: geopandas in /usr/local/lib/python3.12/dist-packages (1.1.1)
Requirement already satisfied: shapely in /usr/local/lib/python3.12/dist-packages (2.1.2)
Requirement already satisfied: pyogrio in /usr/local/lib/python3.12/dist-packages (0.12.1)
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.12/dist-packages (from geopandas) (2.0.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from geopandas) (25.0)
Requirement already satisfied: pandas>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from geopandas) (2.2.2)
Requirement already satisfied: pyproj>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from geopandas) (3.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from pyogrio) (2025.11.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->geopandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)

In [17]:
import geopandas as gpd

# Load ward boundaries
wards = gpd.read_file("City Wards Data - 4326.geojson").to_crs("EPSG:4326")

# Convert grouped table to GeoDataFrame
gdf_points = gpd.GeoDataFrame(
    grouped,
    geometry=gpd.points_from_xy(grouped['LON'], grouped['LAT']),
    crs="EPSG:4326"
)

# Spatial join
gdf_joined = gpd.sjoin(
    gdf_points,
    wards[['AREA_SHORT_CODE', 'geometry']],
    how='left',
    predicate='within'
)

# Rename and clean up
gdf_joined.rename(columns={'AREA_SHORT_CODE': 'WARD_NUM'}, inplace=True)
gdf_joined.drop(columns=['index_right', 'geometry'], inplace=True, errors='ignore')

# Final dataset (same data + ward number)
grouped_with_ward = gdf_joined
# I will manually handle 39 rows of missing data
na_rows = grouped_with_ward[grouped_with_ward['WARD_NUM'].isna()]
na_rows.to_csv("wards_to_fix_manually.csv", index=False)

/usr/local/lib/python3.12/dist-packages/geopandas/io/file.py:576: UserWarning: Error parsing datetimes, original strings are returned: Out of bounds nanosecond timestamp: 3000-01-01T00:00:00, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
  return pyogrio.read_dataframe(path_or_bytes, bbox=bbox, **kwargs)

In [20]:
#output stuff to fix
import pandas as pd

# Ensure we have a stable row identifier
grouped_with_ward = grouped_with_ward.reset_index(drop=True)
grouped_with_ward['ROW_ID'] = grouped_with_ward.index

# Extract only rows with missing ward
to_fix = grouped_with_ward[grouped_with_ward['WARD_NUM'].isna()].copy()

# Export for manual correction
to_fix[['ROW_ID', 'LAT', 'LON', 'WARD_NUM']].to_csv(
    "wards_to_fix_manually.csv",
    index=False
)

print(f"Exported {len(to_fix)} rows to wards_to_fix_manually.csv")

Exported 39 rows to wards_to_fix_manually.csv

In [22]:
#import corrected wards and apply them ---

fixes = pd.read_csv("wards_to_fix_manually_corrected.csv")

# Sanity checks (very important)
assert 'ROW_ID' in fixes.columns, "ROW_ID column missing"
assert fixes['WARD_NUM'].notna().all(), "Some WARD_NUM values are still missing"

# Apply fixes using ROW_ID (NO floating point joins)
grouped_with_ward.loc[
    fixes['ROW_ID'],
    'WARD_NUM'
] = fixes['WARD_NUM'].values

# Track provenance
grouped_with_ward['WARD_SOURCE'] = 'auto'
grouped_with_ward.loc[fixes['ROW_ID'], 'WARD_SOURCE'] = 'manual'

# Final safety check
assert grouped_with_ward['WARD_NUM'].isna().sum() == 0, "Still missing wards!"

# Normalize WARD_NUM: "01" -> "1", keep NaN intact
grouped_with_ward['WARD_NUM'] = (
    grouped_with_ward['WARD_NUM']
    .astype(str)
    .str.strip()
    .replace({'nan': None, '': None})
    .apply(lambda x: str(int(x)) if x is not None else None)
)


# Export final CSV (overwrite existing file used by HTML)
grouped_with_ward.to_csv(
    "collisions_with_wards.csv",
    index=False
)

print("Final CSV exported: collisions_with_wards.csv")

Final CSV exported: collisions_with_wards.csv